.cover__section {
    padding: 0;
    margin: 0 8rem 8rem 8rem;
}

.cover {
    width: 100%;
    height: 100vh;
    /* background-color: var(--black); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover div:not(.cover > div:first-child) {
    width: 100%;
}

.cover h1 {
    display: none;
    visibility: hidden;
}

.cover > div > ul {
    margin-top: 3rem;
}

.cover > div:first-child > ul li {
    text-align: center;
    font-family: var(--fRose);
    font-size: 2.5rem;
}

.cover > div:first-child > ul li:nth-child(5),
.cover > div:first-child > ul li:nth-child(6),
.cover > div:first-child > ul li:nth-child(7),
.cover > div:first-child > ul li:nth-child(8),
.cover > div:first-child > ul li:nth-child(9) {
    color: var(--newRed);
}

.triangle {
    background: url("../images/covers/self-portrait3px.png") center center no-repeat;
    background-size: contain;
    width: 250px;
    height: 300px;
}

.test_crosses {
    width: 500px !important;
    margin: 0 auto;
    background-color: var(--black);
}

.test_crosses > ul {
    width: 140px;
    margin: 0 auto;
    background-color: var(--black);
    border-width: 3px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.test_crosses > ul > li {
    position: relative;
    width: 100%;
    height: 140px;
    margin: 0 auto;
}

.test_crosses > ul > li::before, .test_crosses > ul > li::after {
  position: absolute;
  content: "";
  left: calc(50% - 3px);
  height: 220px;
  width: 8px;
  background-color: var(--newRed);
  border-radius: 50%;
}

.test_crosses > ul > li::before {
  transform: rotate(45deg);
}

.test_crosses > ul > li::after {
  transform: rotate(-45deg);
}

.cover .logo {
    cursor: pointer;
    transform-origin: center;
    filter: drop-shadow(0 0 0.75em rgba(247,247,245,0.5));
    animation: jumpLogo 1.5s ease infinite;
}

@keyframes jumpLogo {
    0% {
        transform: scale(1);
    }
    45% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width: 360px) {
    .triangle {
    width: 300px;
    }
}

@media (min-width: 768px) {
    .cover {
        position: relative;
    }

    .cover > div:first-child {
        position: absolute;
        top:0;
        left: 10rem;
    }

    .triangle {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 768px) and (min-height: 600px) {
    .cover > div:first-child > ul li {
        font-size: 3.6rem;
    }
}