.testApi__section {
    padding: 4rem 2rem;
}

.testApi h2 {
    font-size: 18px;
    height: 53px;
    margin-top: 1rem;
}

.testApi li {
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
    background-color: var(--black);
    color: var(--lightGreen);
    border: 15px inset var(--lightGreen);
    transition: 0.5s ease;
}

.testApi li:nth-child(2) {
    border: 15px outset var(--white);
}

.testApi li:hover {
    transform: scale(1.02);
}

.testApi .icon-div i {
    font-size: 30px;
    color: var(--white);
}


@media (min-width: 992px) {
    .testApi__section {
        padding: 4rem 8rem;
    }

    .testApi h2 {
        font-size: 21px;
    }

    .testApi li:first-child {
        margin-right: 3rem;
    }

    .testApi li:last-child {
        margin-left: 3rem;
    }
}