.perso__body .cover {
    background-color: var(--blue);
}

.perso__body .cover > div:first-child > ul li:nth-child(5),
.perso__body .cover > div:first-child > ul li:nth-child(6),
.perso__body .cover > div:first-child > ul li:nth-child(7),
.perso__body .cover > div:first-child > ul li:nth-child(8),
.perso__body .cover > div:first-child > ul li:nth-child(9) {
    color: var(--red);
}

.perso__body .triangle {
    background: url("../../images/self-portrait3px.png") center center no-repeat;
    background-size: contain;
    width: 250px;
    height: 300px;
}

@media (min-width: 360px) {
    .perso__body .triangle {
        width: 300px;
    }
}

@media (min-width: 768px) {
    .perso__body .triangle {
        width: 400px;
        height: 400px;
    }
}