header {
    position: fixed;
    top: 0;
    right: -250px;
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 8rem;
    text-align: end;
    z-index: 50;
}

header::after {
    content: "";
    width: 0.5px;
    height: 90%;
    background: linear-gradient(0deg, var(--white) 70%, var(--blue)25%, var(--white));
    position: absolute;
    left: 4rem;
}

.navbar__container > div:first-child {
    position: relative;
    cursor: pointer;
    width: 100%;
    max-width: 139px;
    height: 44px;
    float: right;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    transition: all 0.8s ease;
}

.navbar__container > div:first-child a {
    display: inline-block;
    background-color: var(--black);
    color: var(--blue);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.navbar__container > div:first-child:hover a {
    font-size: 14px;
}

.navbar__container > div:first-child:hover {
    width: 88%;
}

.navbar__container > ul > li {
    margin: 3rem 0;
    padding-right: 1rem;
}

.navbar__container a {
    font-size: 19px;
    font-weight: 700;
    font-family: var(--fontWork);
}

.navbar__container a:hover {
    border-bottom: 1px solid;
}

.dev__body .navbar__container > ul > li:nth-child(3) a {
    margin-left: 2.5rem;
}
