.shapes__section .shapes > li {
    margin: 30px 0;
}

.shapes__section .shapes > li > span,
.shapes__section .shapes > li > div > span {
    display: inline-block;
    position: relative;
}

.shapes__section .shapes > li > span, 
.shapes__section .shapes > li > span::before,
.shapes__section .shapes > li > span::after {
    color: white;
    background-color: var(--newRed);
}

.heart {
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  
}

.heart::before {
    top: -18px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 18px;
}


    .diamond {
    background-color: transparent !important;
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-bottom: 70px solid red;
      top: -50px;
    }
    .diamond::after {
      content: "";
      background-color: transparent !important;
      position: absolute;
      left: -50px;
      top: 70px;
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-top: 70px solid red;
    }

.gemstone-box {
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    background-color: var(--newRed);
    background-image: linear-gradient(to top, rgba(255,255,255,0.0), rgba(255,255,255,0.15));
    border: 12px inset rgba(255,255,255,0.15);
}

.gemstone {
    width: 30px;
    height: 17.3205px;
    top: calc(21px - 12px);
    left: calc(15px - 12px);
    background-color: var(--lightRed);
    transform: scale(1.2);
}

.gemstone::before {
    position: absolute;
    content: "";
    top: -8.66025px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 8.66025px solid var(--lightRed);
}

.gemstone::after {
  content: "";
  position: absolute;
  bottom: -8.66025px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 8.66025px solid var(--lightRed);
}

